button {
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.page-logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;
  margin-right: 76px;
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: #404bbf;
}
.studio-logo {
  color: #2e2f42;
}
.nav-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contacts-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #434455;
}
.title-busines {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
  max-width: 496px;
}
.modal-open-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
}
.main-list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: #2e2f42;
  margin-bottom: 8px;
}
.subtitle-main {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
}
.main-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list-workers {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;

  color: #2e2f42;
  margin-bottom: 8px;
}
.team-list-profession {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: #434455;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 33;
  letter-spacing: 0.02em;

  color: #f4f4fd;
  max-width: 264px;
}
.modal-open-btn:hover,
.modal-open-btn:focus {
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid transparent;
}
.widget-list-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: #2e2f42;
  margin-bottom: 8px;
}
.widget-list-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #434455;
}
body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
.header-address {
  font-style: normal;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.section-main-busines {
  background-color: #2e2f42;
  padding: 188px 0;
}
.modal-open-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-left: 160px;
  margin-top: 48px;
}
.modal-open-button:hover,
.modal-open-button:focus {
  background-color: #404bbf;
}
.hidden-list {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 33;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.main-section-team {
  background-color: #f4f4fd;
}
.team-list-item {
  background-color: #ffffff;
}
.page-footer {
  background-color: #2e2f42;
}
.studio-logo-footer {
  color: #f4f4fd;
}
:root {
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
.main-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contact-list {
  display: flex;
  gap: 40px;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  padding: 0px;
}
.busines-section-container {
  padding: 0 331px 0 331px;
}
.main-list {
  display: flex;
  gap: 24px;
}
.section-main-advantages {
  padding: 120px 0;
}
.main-list-item {
  width: calc((100% - 72px) / 4);
}
.project-list {
  display: flex;
  gap: 24px;
}
.section-project {
  padding-bottom: 120px;
}
.main-section-team {
  padding: 120px 0;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-container {
  padding: 32px 16px;
}
.page-footer {
  padding: 100px 0;
}
.page-logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}
.button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.section-main {
  padding-top: 96px;
  padding-bottom: 120px;
}
.widget-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.widget-list-item {
  width: calc((100% - 48px) / 3);
}
.widget-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
